.courses {
  grid-area: cours;

  @media (max-width: 540px) {
    justify-self: center;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
