.education {
  grid-area: educ;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 1.5rem;

    @media (max-width: 768px) {
      text-align: center;
    }
  }

  
}
