.education {
  grid-area: educ;

  @media (max-width: 540px) {
    justify-self: center;
  }

  @media (max-width: 768px) {
    margin-top: 0;
  }

  &__title {
    text-align: left;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    line-height: 1.5rem;
  }
}
