.projects {
  grid-area: proj;

  &-list {
    display: grid;
    gap: 35px;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr 1fr;

    @media (max-width: 1028px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 580px) {
      grid-template-columns: 1fr;
    }
  }
}
