.options {
  display: flex;
  position: absolute;
  top: 0px;
  right: -25px;

  @media (max-width: 768px) {
    right: -15px;
  }

  &__btn {
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.15s ease-in;

    @media (max-width: 768px) {
      width: 23px;
      height: 23px;
    }

    &_light {
      background: url(../../../assets/icon-sun.svg) no-repeat;
      background-size: contain;
    }

    &_dark {
      background: url(../../../assets/icon-moon.svg) no-repeat;
      background-size: contain;
    }
  }
}
