.skills {
  grid-area: skills;
  margin-left: 15px;
  
  &__title {
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 768px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 10px;
    }

  }

  &__list-item {
    font-size: 20px;
    flex-basis: 100%;
    // @media (max-width: 768px) {
    //   padding-left: 30px;
    //   flex-basis: 45%;
    // }

    // @media (max-width: 420px) {
    //   padding-left: 7px;
    //   flex-basis: 45%;
    // }
  }
}
