.dark-theme {
  transition: 0.3s ease-in;
  --bg-color: #08083d;
  --text-color: #e8e8ea;
  --invert-bg-color: #e8e8ea;
  --invert-text-color: #08083d;
  --primary-color: #04ff04;
  --secondary-color: #049604;
  --inverted-primary-color: #0232c2;
  --inverted-secondary-color: #0452ff;
}
