@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap';
@import 'reset';
@import 'normalize';
@import 'layouts';
@import 'variables';
@import 'themes/light';
@import 'themes/dark';

body {
  font-family: Inter, sans-serif, ui-sans-serif, system-ui, -apple-system, Arial;
  font-size: 16px;
}
