@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'reset';
@import 'normalize';
@import 'themes/light';
@import 'themes/dark';


html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
    sans-serif;
  font-size: 18px;

}

h2 {
  font-size: 2rem;
  margin: 1.2rem 0;

  @media (max-width: 768px) {
    margin: 1.5rem 0;
    font-size: 1.7rem;
  }
}
