@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:wght@300;400;500;700;900&display=swap');
@import 'reset';
@import 'normalize';
@import 'themes/light';
@import 'themes/dark';

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial,
  sans-serif;
  font-size: 18px;
}


h2 {
  font-size: 2rem;
  margin-bottom: 1.2rem;

  @media (max-width: 768px ) {
    text-align: center;
  }
}