.main-wrapper {
  margin: 50px 0;
  max-width: 1200px;

  .main {
    margin-left: 25px;
    max-width: 1200px;
    display: grid;
    grid-template-areas:
      'skills sum sum'
      'skills proj proj'
      'educ proj proj'
      'cours proj proj'
      'lang proj proj'
      '. proj proj';
    grid-template-columns: 200px 1fr 1fr;
    gap: 25px;

    @media (max-width: 768px) {
      margin-left: 0px;
      grid-template-areas:
        'sum sum sum'
        'skills cours educ'
        'skills cours lang'
        'proj proj proj ';
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (max-width: 570px) {
      grid-template-areas:
        'sum sum'
        'skills cours'
        'skills cours'
        'skills cours'
        'educ lang'
        'proj proj ';
      gap: 15px;
      grid-template-columns: 1fr 1fr;
    }
  }
}
