.header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  padding-right: 70px;
  gap: 50px;

  
  @media (max-width: 640px) {
    padding-right: 35px;
  }
}

.header-content {
  width: 970px;
  display: flex;
  flex-direction: column;
  position: relative;
}
