.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  gap: 50px;

  &-content {
    width: 970px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}


