.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 25px 15px 0px;
  gap: 50px;
  margin: 0 auto;

  &-content {
    width: 970px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
}


