.logo {
  display: flex;
  align-self: center;

  @media (max-width: 640px) {
    align-self: flex-start;
    position: absolute;
  }

  &__img {
    width: 200px;

    @media (max-width: 640px) {
      width: 75px;
    }

  }
}