.logo {
  display: flex;
  position: relative;
  top: -30px;
  align-self: center;

  @media (max-width: 768px) {
    align-self: flex-start;
    position: absolute;
    top: inherit
  }

  &__img {
    width: 200px;

    @media (max-width: 768px) {
      width: 75px;
    }
  }
}
