.title {
  @media (max-width: 768px) {
    text-indent: 90px
  }

  &__name {
    font-size: 2.5rem;
    margin-top: 25px;

    @media (max-width: 900px) {
      margin-top: 0px;
    }

    @media (max-width: 768px) {
      margin-top: 5px;
      font-size: 1.4rem;
    }
  }

  &__job {
    font-size: 1.4rem;
    margin-top: 10px;

    @media (max-width: 768px) {
      font-size: 1.1rem;
    }
  }

  &__location {
    font-size: 1.4rem;
    margin-top: 10px;
    padding: 15px 5px;
    border-bottom: 2px dotted var(--text-color);

    @media (max-width: 768px) {
      padding-bottom: 20px;
      font-size: 1.1rem;
    }

    &_icon {
      position: relative;
      left: -8px;
    }
  }
}

